.todos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    height: 2rem;
}

.completed{
    text-decoration: line-through;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.date{
    font-size: small;
    color: lightgray;
}

.action{
    font-size: larger;
    cursor: pointer;
}

.delete{
    color: red;
}