.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
}

.messageContainer, .filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter span{
    margin-right: .5rem;
}

.badge{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin-right: .3rem;
    font-weight: bold;
}

.message{
    font-size: larger;
    font-weight: bold;
}

.message.success{
    color: green;
}

.select{
    width: 200px;
    text-align: left;
}