.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.completed{
    text-decoration: line-through;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.date{
    font-size: small;
    color: lightgray;
}

.action{
    font-size: larger;
    cursor: pointer;
}

.delete{
    color: red;
}